@page "/people"
<div class="container mt-5">
    <div class="row">
        @foreach (var author in Authors)
        {
            <div class="col-md-4">
                <div class="card mb-3">
                    <img style="object-fit:cover !important" height="320" width="480" src='@(author.HasAvatar?fileSystemHelper.ReadAsBlob(author.Avatar):"https://via.placeholder.com/200")' alt="Author Image" class="img-fluid">
                    <div class="card-body">
                        <h5 class="card-title"><a href="profile?uid=@(author.UserId)">@author.FirstName @author.LastName</a> </h5>
                        <p class="card-text">Affiliation: @author.Affliation</p>
                        <p class="card-text">Email: @author.EmailAddress</p>
                        <p class="card-text">Biography: 
                            @author.Biography
                        </p>
                        <!-- Add any other author details here -->
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@code {
    IEnumerable<Author> Authors = new List<Author>();
    protected override async Task OnInitializedAsync()
    {
        // Get all authors from the database
        Authors = await authorService.Table.ToListAsync();
    }
}